:root{
    --var-secondary-color: #2c3e50;
    --var-primary-color: #1abc9c;
}


.content{
    display: inline-block;
    max-width: 100px;
    max-height: 100px;
    min-height: 50px;
    min-width: 50px;
    border: 1px dashed blue;
    border-radius: 20px;
    background-color: rgb(53, 118, 239);;
}

header{
    background-color: var(--var-secondary-color);
}

header  h5{
    color: white;
    font-weight: 500;
    font-size: 18px;
}

header button i{
    font-size: 14px;
    color: #878787;
}

header nav ul li a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}

section{
    padding: 32px 0;
}

.bg-my-primary{
    background-color: var(--var-primary-color);
}

.avatar-container{
    flex-basis: 60%;
}

.copyright{
    background-color: midnightblue;
}