:root{
    --var-secondary-color: #2c3e50;
    --var-primary-color: #1abc9c;
}


.content{
    display: inline-block;
    max-width: 100px;
    max-height: 100px;
    min-height: 50px;
    min-width: 50px;
    border: 1px dashed blue;
    border-radius: 20px;
    background-color: rgb(53, 118, 239);;
}


.bg-my-primary{
    background-color: var(--var-primary-color);
}

.white-bar{
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 4px;
    display:block;
    margin: auto 0;
}

.star-container i{
    font-size: 24px;
    margin: 0 4px;
}
/* STILI DELL'HEADER */

header{
    background-color: var(--var-secondary-color);
}

header  h5{
    color: white;
    font-weight: 500;
    font-size: 18px;
}

header button i{
    font-size: 14px;
    color: #878787;
}

header nav ul li a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}


/* STILI DEL MAIN */

main .ul-container ul li a{
    font-size: 18px;
    color: white;
    text-decoration: none;
}

/* PRIMA SEZIONE */
section{
    padding: 32px 0;
}

h1{
    margin: 16px 0;
}

.avatar-container{
    flex-basis: 60%;
}

.bar-container{
    flex-basis: 10%;
}

/* TERZA SEZIONE */

.lil-bar-container{
    flex-basis: 7%;
}

.p-container{
    width: 75%;
    margin: 0 auto;
    padding: 0 8px;
}

/* QUARTA SEZIONE */

.border-flush{
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.form-floating > .text-height{
    height: 150px;
}

.lil-container{
    width: 75%;
    margin: auto;
    padding: 0 8px;
}

/* STILI FOOTER */

footer{
    background-color: #3a546d;
}

.footer-container{
    width: 80%;
    margin: auto;
}

footer h4{
    font-size: 16px;
    font-weight: 500;
}

footer .social button{
    aspect-ratio: 1 / 1;
}

footer .social button i{
    width: 20px;
}

.copyright{
    background-color: var(--var-secondary-color);
}